@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 96vh;
    background-color: #5ab4ec;
    font-family: 'Audiowide';
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 98vh;
}

main nav {
   text-align: center;
   margin-bottom: 10px;
}

main nav a {
    margin-left: 35px;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

main nav a:hover {
    color: #8b0000;
    text-decoration: overline;
    text-decoration-color: #ffffff;
    font-size: 1.2em;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section p {
    font-weight: bold;
    font-size: 2em;
}

section#entrada_dados_temporizador {
    flex-direction: column;
    margin-bottom: auto;
}

section#display_temporizador {
    width: 500px;
    margin-bottom: 50px;
}

section#display_temporizador div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-color: #ffffff;
    font-size: 1.5em;
}

section div#hora {
    margin-left: 50px;
}

section div#segundos {
    margin-right: 50px;
}

section#botoes {
    margin-bottom: auto;
}

section#botoes input {
    width: 100px;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
}

input#botao_parar_temporizador {
    display: none;
}

input#botao_pausar_temporizador {
    display: none;
}